<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue">Informations sur les passagers</h1>
            </div>
        </div>
    </div>
    <form action="/flight/book/new" method="post" th:object="${passenger}">
        <div class="row">
            <input type="hidden" th:value="${flightId}" name="flightId">

            <div class="form-group col-md-4">
                <label class="col-form-label" for="firstName">Prénom</label>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="firstName"
                       name="firstName" th:value="${passenger.firstName}" required>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="lastName">Nom de famille</label>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="lastName"
                       name="lastName" th:value="${passenger.lastName}" required>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="phoneNumber">Numbero Tel</label>
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="phoneNumber"
                       name="phoneNumber" th:value="${passenger.phoneNumber}" required>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="passportNumber">Numéro de passeport</label>
                <span th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="passportNumber"
                       name="passportNumber" th:value="${passenger.passportNumber}" required>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="email">Email Address</label>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                      class="badge badge-danger"></span>
                <input type="email" class="form-control" placeholder="" id="email"
                       name="email" th:value="${passenger.email}">
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="address">Address</label>
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                      class="badge badge-danger"></span>
                <input type="text" class="form-control" placeholder="" id="address"
                       name="address" th:value="${passenger.address}" required>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" for="address">classe</label>
                <span th:if="${#fields.hasErrors('classe')}" th:errors="*{address}"
                      class="badge badge-danger"></span>
                <select class="form-control" placeholder="" id="classe"
                       name="classe" th:value="${passenger.classe}">
                    <option value="">--Veuillez choisir une classe--</option>
                    <option value="Economique">Economique</option>
                    <option value="Business">Business</option>
                    <option value="PremiereClass">PremiereClass</option>
                </select>
            </div>

            <div class="form-group col-12">
                <button type="submit" class="btn btn-success" style="float: right">Sauvegarder</button>
            </div>

        </div>
    </form>

</th:block>
</body>
</html>